{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}



<section class="reset-section">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-5">

                <div class="reset-card">

                    <h1 class="reset-title">

                        Reset Password

                    </h1>

                    <p class="reset-subtitle">

                        Enter your new secure password.

                    </p>

                    {{ form_start(resetForm) }}

                    {# NEW PASSWORD #}
                    <div class="mb-4">

                        {{ form_label(
                            resetForm.plainPassword.first,
                            'New Password'
                        ) }}

                        {{ form_widget(
                            resetForm.plainPassword.first,
                            {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Enter new password'
                                }
                            }
                        ) }}

                    </div>

                    {# CONFIRM PASSWORD #}
                    <div class="mb-4">

                        {{ form_label(
                            resetForm.plainPassword.second,
                            'Confirm Password'
                        ) }}

                        {{ form_widget(
                            resetForm.plainPassword.second,
                            {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Confirm your password'
                                }
                            }
                        ) }}

                    </div>

                    {# ERRORS #}
                    <div class="error-box mb-3">

                        {{ form_errors(resetForm.plainPassword.first) }}

                        {{ form_errors(resetForm.plainPassword.second) }}

                    </div>

                    <button class="reset-btn">

                        Reset Password

                    </button>

                    {{ form_end(resetForm) }}

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}
