{% extends 'admin/layout.html.twig' %}

{% block title %}Reservation Details{% endblock %}

{% block body %}



<div class="container py-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h1 class="fw-bold mb-1">
                Reservation #{{ reservation.id }}
            </h1>

            <p class="section-subtitle mb-0">
                Reservation details and verification
            </p>

        </div>

        <a
            href="{{ path('app_reservation_index') }}"
            class="btn btn-outline-dark action-btn">

            ← Back

        </a>

    </div>

    <div class="card details-card">

        <div class="card-body p-4">

            <div class="row g-4">

                <div class="col-lg-6">

                    <div class="mb-4">

                        <h3 class="info-title">
                            Reservation Information
                        </h3>

                    </div>

                    <table class="table table-bordered align-middle details-table">

                        <tbody>

                            <tr>
                                <th>Customer</th>

                                <td>
                                    {{ reservation.user.fullName ?: 'No Name' }}
                                </td>
                            </tr>

                            <tr>
                                <th>Phone</th>

                                <td>
                                    {{ reservation.user.phoneNumber ?: 'No Phone' }}
                                </td>
                            </tr>

                            <tr>
                                <th>User Email</th>

                                <td>
                                    {{ reservation.user.email }}
                                </td>
                            </tr>
                         <tr>

                                                        <th>License Check</th>

                                                        <td>

                                                            {% if reservation.user.licenseIssueDate %}

                                                                {% set difference = date().diff(reservation.user.licenseIssueDate) %}

                                                                {% if difference.y >= 2 %}

                                                                    <span class="badge bg-success status-badge">

                                                                        ✅ Valid

                                                                    </span>

                                                                {% else %}

                                                                    <span class="badge bg-danger status-badge">

                                                                        ❌ Invalid

                                                                    </span>

                                                                {% endif %}

                                                            {% else %}

                                                                <span class="badge bg-secondary status-badge">

                                                                    N/A

                                                                </span>

                                                            {% endif %}

                                                        </td>

                                                    </tr>

                            <tr>

                                <th>Car</th>

                                <td>

                                    <div class="fw-semibold">

                                        {{ reservation.car.brand }}
                                        {{ reservation.car.model }}

                                    </div>

                                </td>

                            </tr>

                            <tr>

                                <th>Start Date</th>

                                <td>
                                    {{ reservation.startDate|date('d M Y') }}
                                </td>

                            </tr>

                            <tr>

                                <th>End Date</th>

                                <td>
                                    {{ reservation.endDate|date('d M Y') }}
                                </td>

                            </tr>

                            <tr>

                                <th>Total Price</th>

                                <td class="fw-bold text-success">

                                    {{ reservation.totalPrice }} €

                                </td>

                            </tr>

                            <tr>

                                <th>Payment</th>

                                <td>

                                    {% if reservation.paymentStatus == 'paid' %}

                                        <span class="badge bg-success status-badge">

                                            Paid

                                        </span>

                                    {% else %}

                                        <span class="badge bg-warning text-dark status-badge">

                                            Unpaid

                                        </span>

                                    {% endif %}

                                </td>

                            </tr>



                            <tr>

                                <th>Reservation Status</th>

                                <td>

                                    {% if reservation.status == 'pending' %}

                                        <span class="badge bg-warning text-dark status-badge">

                                            Pending

                                        </span>

                                    {% elseif reservation.status == 'approved' %}

                                        <span class="badge bg-success status-badge">

                                            Approved

                                        </span>

                                    {% elseif reservation.status == 'rejected' %}

                                        <span class="badge bg-danger status-badge">

                                            Rejected

                                        </span>

                                    {% elseif reservation.status == 'completed' %}

                                        <span class="badge bg-primary status-badge">

                                            Completed

                                        </span>

                                    {% endif %}

                                </td>

                            </tr>
                         <tr>

                                                       <th>Car Status</th>

                                                       <td>

                                                           {% if reservation.rentalProcesses|length > 0 %}

                                                               {% set process = reservation.rentalProcesses.first %}

                                                               {% if process.status == 'waiting_pickup' %}

                                                                   <span class="badge bg-warning text-dark status-badge">

                                                                       Waiting For Pickup

                                                                   </span>

                                                               {% elseif process.status == 'picked_up' %}

                                                                   <span class="badge background:#f59e0b;color:white;status-badge">

                                                                       Picked Up

                                                                   </span>

                                                               {% elseif process.status == 'completed' %}

                                                                   <span class="badge bg-success status-badge">

                                                                       Returned

                                                                   </span>

                                                               {% endif %}

                                                           {% else %}

                                                               <span class="badge bg-secondary status-badge">

                                                                   No Process

                                                               </span>

                                                           {% endif %}

                                                       </td>

                                                       </tr>

                        </tbody>

                    </table>

                    <div class="d-flex gap-3 mt-4 flex-wrap">

                        {# PENDING #}
                        {% if reservation.status == 'pending' %}

                            <form
                                method="post"
                                action="{{ path('app_reservation_approve', {'id': reservation.id}) }}">

                                <button class="btn btn-success action-btn">

                                    ✅ Approve

                                </button>

                            </form>

                            <form
                                method="post"
                                action="{{ path('app_reservation_reject', {'id': reservation.id}) }}">

                                <button class="btn btn-danger action-btn">

                                    ❌ Reject

                                </button>

                            </form>

                        {% endif %}

                        {# APPROVED BUT NOT PAID #}
                        {% if reservation.status == 'approved'
                            and reservation.paymentStatus == 'unpaid' %}

                            <form
                                method="post"
                                action="{{ path(
                                    'app_reservation_confirm_payment',
                                    {'id': reservation.id}
                                ) }}">

                                <button class="btn btn-warning text-dark action-btn">

                                    💵 Confirm Payment

                                </button>

                            </form>

                        {% endif %}

                        {# AFTER PAYMENT #}
                        {% if reservation.status == 'approved'
                            and reservation.paymentStatus == 'paid'
                            and reservation.rentalProcesses|length > 0 %}

                         {% set process = reservation.rentalProcesses.first %}

                            {% if process.status == 'waiting_pickup' %}

                                <a
                                    href="{{ path(
                                        'app_rental_process_edit',
                                        {
                                            id: process.id
                                        }
                                    ) }}"
                                    class="btn btn-primary action-btn">

                                    🚗 Prepare Pickup

                                </a>

                            {% elseif process.status == 'picked_up' %}

                                <a
                                    href="{{ path(
                                        'app_rental_process_return_edit',
                                        {
                                            id: process.id
                                        }
                                    ) }}"
                                    class="btn btn-success action-btn">

                                    ↩️ Return Car

                                </a>

                            {% elseif process.status == 'completed' %}

                                <span class="badge bg-primary status-badge">

                                    ✅ Rental Completed

                                </span>

                            {% endif %}

                        {% endif %}

                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="row g-4">

                        <div class="col-12">

                            <div class="image-box">

                                <div class="image-title">

                                    Driver License

                                </div>

                                {% if reservation.user.licenseImage %}

                                    <img
                                        src="{{ asset('uploads/licenses/' ~ reservation.user.licenseImage) }}"
                                        class="document-image">

                                {% else %}

                                    <div class="alert alert-secondary mb-0">

                                        No license uploaded

                                    </div>

                                {% endif %}

                            </div>

                        </div>

                        <div class="col-12">

                            <div class="image-box">

                                <div class="image-title">

                                    CIN Image

                                </div>

                                {% if reservation.user.cinImage %}

                                    <img
                                        src="{{ asset('uploads/cin/' ~ reservation.user.cinImage) }}"
                                        class="document-image">

                                {% else %}

                                    <div class="alert alert-secondary mb-0">

                                        No CIN uploaded

                                    </div>

                                {% endif %}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}
